{% extends '@AcMarcheMeriteSportif/layout_front.html.twig' %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h2>Proposer un candidat pour <i>"{{ categorie }}"</i></h2>
        </div>
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.nom) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.prenom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.sport) }}
                </div>
            </div>
            {{ form_row(form.description) }}
            {{ form_row(form.palmares) }}

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.imageFile) }}
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <button class="btn btn-primary" type="submit"><i class="ti ti-device-floppy"></i> Sauvegarder</button>
            {{ form_end(form) }}
        </div>
    </div>

    <br/>
    <a href="{{ path('proposition_index') }}"><i
                class="ti ti-arrow-left"></i> Annuler</a>

{% endblock %}